<div id="main-search">
  {{input placholder='Searh Ticker' valueBinding='term' role='search'}}
  <div id="search-results">
    <ul>
      <li>{{term}}</li>
      {{#each stock in model}}
      <li>{{stock.symbol}} - {{stock.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>