<div id="main-search">
  {{input placholder='Searh Ticker' valueBinding='term' role='search'}}
  <div id="search-results">
    <ul>
      {{#each stock in stocks}}
        <li>{{#link-to 'quote' stock.id}}{{stock.id}} - {{stock.name}} - {{stock.exchange}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
</div>