<header id="main-header">
  <div class="inner">
    <div class="row">
      <div class="two columns">
        <a href="#" class="logo">Plum</a>
      </div>

      <div class="five columns">
        <nav id="main-nav">
          <ul>
            <li>{{#link-to "portfolios"}}Portfolios{{/link-to}}</li>
            <li>{{#link-to "users"}}Users{{/link-to}}</li>
          </ul>
        </nav>
      </div>

      <div class="four columns">
        <div id="main-search">
          {{input placholder='Searh Ticker'}}
          <div id="search-results">
            <!-- ul>
              <li>AAPL - Apple Inc.</li>
              <li>BA - Boeing Co</li>
              <li>TSLA - Tesla Motors</li>
            </ul -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
  {{outlet}}

<footer id="main-footer">
  <div class="inner">
    <div class="row">
      
    </div>
  </div>
</footer>