<header id="main-header">
  <div class="inner">
    <div class="row">

      <div class="two columns">
        <a href="#" class="logo">Plum</a>
      </div>

      <div class="five columns">
        <nav id="main-nav">
          <ul>
            <li>{{#link-to "portfolios"}}Portfolios{{/link-to}}</li>
            <li>{{#link-to "users"}}Users{{/link-to}}</li>
          </ul>
        </nav>
      </div>
        {{stock-search stocks=stocks action='search'}}
        {{user.id}}
      </div>
    </div>
  </div>

  <img id="loading" src="images/loader.gif">
</header>

<div class="main-page">
{{outlet}}
</div>

<footer id="main-footer">
  <div class="inner">
    <div class="row">
      <div class="six columns">
        <div class="copyright">Copyright &copy; 2015. All rights reserved.</div>
      </div>
      <div class="six columns">
        <div class="author">Created by <a href="http://jadn.co">Jaden Dessureault.</a></div>
      </div>
    </div>
  </div>
</footer>