<header id="main-header">
  <div class="inner">
    <div class="row">
      <div class="two columns">
        <a href="#" class="logo">Plum</a>
      </div>

      <div class="three columns">
        <nav id="main-nav">
          <ul>
            <li>{{#link-to "portfolios"}}Portfolios{{/link-to}}</li>
            <li>{{#link-to "users"}}Users{{/link-to}}</li>
          </ul>
        </nav>
      </div>

      <div class="four columns">
        <div id="quick-links">
          <ul>
            <li>{{#link-to 'quote' 'AAPL'}}AAPL{{/link-to}}</li>
            <li>{{#link-to 'quote' 'NFLX'}}NFLX{{/link-to}}</li>
            <li>{{#link-to 'quote' 'BA'}}BA{{/link-to}}</li>
            <li>{{#link-to 'quote' 'TSLA'}}TSLA{{/link-to}}</li>
          </ul>
        </div>
      </div>

      <div class="three columns">
        {{stock-search stocks=model action='search'}}
      </div>
    </div>
  </div>
</header>

{{outlet}}

<footer id="main-footer">
  <div class="inner">
    <div class="row">
      <div class="six columns">
        <div class="copyright">Copyright &copy; 2015. All rights reserved.</div>
      </div>
      <div class="six columns">
        <div class="author">Created by <a href="http://jadn.co">Jaden Dessureault.</a></div>
      </div>
    </div>
  </div>
</footer>