<h1>Login</h1>

<form {{action 'authenticate' on='submit'}}>
  {{input value=identification placeholder='Username'}}
  {{input value=password placeholder='Password' type='password'}}
  {{input value='Submit' type='submit'}}
</form>