<main id="portfolios">
  <div class="inner">
    {{#each row in rows}}
      <div class="row">
        {{#each portfolio in row}}
          <article id="portfolio" class="four columns">
            {{#link-to 'portfolio' portfolio.id}}
              <div class="name">{{portfolio.name}}</div>
              <div class="value">{{currency portfolio.value}}</div>
            {{/link-to}}
          </article>
        {{/each}}
      </div>
    {{/each}}
  </div>
</main