<h3>Portfolios:</h3>

{{#each portfolio in controller}}
  <div><b>Title:</b> {{#link-to 'portfolio' portfolio.id}}{{portfolio.name}}{{/link-to}}</div>
  <div><b>Value:</b> {{withCommas portfolio.value}}</div>
  <br>
{{/each}}