<main id="quote" class="main-page">
  <section>
    <div class="inner">
      <div class="row">
        <div class="nine columns">
          <div class="name">{{name}}</div>
          <div class="ticker">{{ticker}}</div>
          <div class="price">{{price}}</div>
          <div class="graph"></div>
        </div>

        <div class="three columns">
          <div><b>Volume:</b> {{withCommas volume}}</div>
        </div>
      </div>
    </div>
  </section>
</main>

