<main id="quote">
  <section>
    <div class="inner">
      <div class="row">
        <div class="nine columns">
          <div><b>Company Name:</b> {{name}}</div>
          <div><b>Ticker:</b> {{ticker}}</div>
          <div><b>Price:</b> {{price}}</div>
          <div class="graph">A cool graph</div>
        </div>

        <div class="three columns">
          <div><b>Volume:</b> {{withCommas volume}}</div>
        </div>
      </div>
    </div>
  </section>
</main>

