<main id="user">
  <div class="inner">
    <div class="row">
      <section class="module seven columns">
        <h2>{{name}}</h2>
        <h3>{{username}}</h3>
        <img {{bind-attr src=avatar}}>
      </section>
    </div>
  </div>
</main>