#main-header {
  position: relative;
  line-height: 1;
  background: color(white);
  border-bottom: 1px solid color(light);

  .inner {
    padding-top: ws(small);
    padding-bottom: ws(small);
  }

  .logo {
    display: block;
    float: left;
    margin-top: ws(tiny);
    margin-right: ws(medium);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
  }

  #loading {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    display: none;
    top: 50%;
    margin-top: -16px;
  }

  #main-nav {
    margin-top: ws(tiny);

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  #quick-links {
    display: inline-block;
    margin-right: 30px;
    
    ul {
      li {
        display: inline-block;

        &:not(:last-of-type):after {
          content: '|';
          margin: 0 10px;
        }
      }
    }
  }

  .new-portfolio {
    padding: ws(tiny) ws(small);
    border: 1px solid color(light);
    background: color(pearl);
    text-decoration: none;
    display: inline-block;
    border-radius: $border-radius;

    &:hover {
      border-color: darken(color(light), 10%);
    }
  }

  #main-search {
    position: relative;
    margin-top: 0 !important;

    input {
      margin-top: 0 !important;
      font: inherit;
      float: left;
      padding: ws(tiny);
      border: 1px solid color(light);
      outline: none;
      border-radius: $border-radius;
      line-height: 1;
      background: color(pearl);

      &:focus {
        border-color: darken(color(light), 10%);
      }
    }

    ul#search-results {
      list-style: none;
      position: absolute;
      right: 0;
      top: 40px;
      opacity: 0;
      visibility: hidden;
      transform: scale(.97) translateY(-50px);
      transition: 0.2s cubic-bezier(.3, 0, 0, 1.3);
      
      li {
        position: relative;
        padding: ws(small);
        line-height: 1.4;
        background: color(white);
        border-left: 1px solid color(light);
        border-right: 1px solid color(light);
        border-bottom: 1px solid color(light);

        a {
          display: block;
          text-decoration: none;
        }

        &:first-of-type {
          border-top: 1px solid color(light);
        }

        &:hover {
          background: color(light);
        }

        a {
        }

        .ticker {
          font-weight: bold;
        }

        .name {
          margin-left: ws(small);
        }

        .name,
        .exchange {
          color: color(grey);
        }

        .exchange {
          float: right;
          font: font(tiny);
          position: absolute;
          top: ws(small);
          right: ws(small);
        }
      }

      &.visible {
        transform: none;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .avatar {
    margin-top: 0 !important;
    height: 30px;
    width: 30px;
    padding: 6px;
    text-align: center;
    border: 1px solid color(light);
    outline: none;
    border-radius: 3px;
    line-height: 1;
    border-radius: ws(tiny) * 4;
    box-sizing: border-box;
    display: inline-block;
    float: right;
  }

  .username {
    float: right;
    margin-top: ws(tiny);
    margin-right: ws(small);
  }
}