#main-header {
  position: relative;
  line-height: 1;
  background: color(white);
  border-bottom: 1px solid color(light);

  .inner {
    padding-top: ws(small);
    padding-bottom: ws(small);
  }

  .logo {
    display: block;
    float: left;
    margin-top: ws(tiny);
    margin-right: ws(medium);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
  }

  #loading {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    display: none;
    top: 50%;
    margin-top: -16px;
  }

  .new-portfolio {
    display: inline-block;
    float: left;
    padding: ws(tiny) ws(small);
  }

  #main-search {
    position: relative;
    margin-top: 0 !important;
    overflow: visible;
    display: table;
    width: 360px;

    ul#search-results {
      list-style: none;
      position: absolute;
      left: 0;
      top: 40px;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      overflow: hidden;
      padding: 0;
      display: table;
      border-color: transparent;
      transform: translateY(-20px);
      transition: 0.2s cubic-bezier(.3, 0, 0, 1.3);

      #indicator {
        display: none;
      }
      
      li {
        padding: ws(small);
        left: 0;
        line-height: 1.4;
        background: color(white);
        display: block;
        border-bottom: 1px solid color(light);

        a {
          display: block;
          text-decoration: none;
        }

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          background: color(light);
        }

        .ticker {
          font-weight: bold;
        }

        .name {
          margin-left: ws(small);
        }

        .name,
        .exchange {
          color: color(grey);
        }

        .exchange {
          float: right;
          font: font(tiny);
          position: absolute;
          top: ws(small);
          right: ws(small);
        }
      }

      &.visible {
        transform: none;
        opacity: 1;
        visibility: visible;
        border-color: color(light);
        z-index: 997;
      }
    }
  }

  .avatar {
    margin-top: 0 !important;
    height: 30px;
    width: 30px;
    text-align: center;
    border: 1px solid color(light);
    outline: none;
    border-radius: 3px;
    line-height: 1;
    border-radius: ws(tiny) * 4;
    box-sizing: border-box;
    display: inline-block;
    float: right;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .username {
    float: right;
    margin-top: ws(tiny);
    margin-right: ws(small);
  }
}