* {
  margin: 0;
  padding: 0;
  outline: 1px dashed rgba(#888, 0.1);
}

::selection {
  background: color(black);
  color: color(white);
}

body {
  font-family: sans-serif;
  background: color(white);
  color: color(black);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#main-footer {
  .author {
    float: right;
  }
}

#main-header {
  .inner {
    padding: ws(large) 0;
    border-bottom: 1px solid color(light);
  }

  #main-nav {

    ul {
      list-style: none;

      li {
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  #quick-links {
    display: inline-block;
    margin-right: 30px;
    
    ul {
      li {
        display: inline-block;

        &:not(:last-of-type):after {
          content: '|';
          margin: 0 10px;
        }
      }
    }
  }

  #main-search {
    float: right;
    width: 100%;

    input {
      padding: 5px;
    }

    #search-results {
      ul {
        list-style: none;
        
        li {
          padding: 4px 10px;
          background: color(light);

          &:nth-of-type(even) {
            background: color(grey);
          }
        }
      }
    }
  }
}

.main-page {
  padding: ws(large) 0;
}
