* {
  margin: 0;
  padding: 0;
  color: color(black);
  //outline: 1px dashed rgba(color(black), 0.2);
}

::selection {
  background: color(black);
  color: color(white);
}

body {
  font: font(default);
  background: color(pearl);
  color: color(black);
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.main-page {
  padding: ws(large) 0;
}

.btn {
  font: inherit;
  padding: ws(tiny) ws(medium);
  border: 1px solid darken(color(light), 10%);
  outline: none;
  display: inline-block;
  border-radius: $border-radius;
  background: color(light);
  cursor: pointer;
  -webkit-appearance: none;
  transition: 0.1s;

  &:hover {
    background: darken(color(light), 10%);
  }

  &.red {
    color: color(light);
    background: color(red);
    border-color: darken(color(red), 10%);

    &:hover {
      background: darken(color(red), 10%);
    }
  }
}

.module {
  border: 1px solid color(light);
  padding: ws(medium);
  border-radius: $border-radius;
  text-align: center;
  background: color(white);
  box-shadow: 0 1px 2px color(light);

  h3 {
    float: left;
    margin-top: 6px;
  }
}

input {
  font: inherit;
  padding: ws(tiny);
  border: 1px solid color(light);
  outline: none;
  border-radius: $border-radius;
  line-height: 1;
  background: color(white);
  -webkit-appearance: none;
  transition: 0.1s;

  &:hover {
    border-color: darken(color(light), 10%);
  }

  &:focus {
    border-color: darken(color(light), 10%);
    background: color(pearl);
  }
}

input[type=submit] {
  cursor: pointer;
  border: 1px solid darken(color(light), 10%);
  background: color(light);
  padding: ws(tiny) ws(small);

  &:hover {
    background: darken(color(light), 10%);
  }
}