$font-family: Proxima Nova, Helvetica Neue, sans-serif;

$colors: (    
  white: #FFFFFF,
  light: #E6F0F0,
  grey: #A0999E,
  black: #302D2F,
  plum: #8E4585,
  green: #579F46,
  red: #9F4646
);

$whitespace: (
  huge: 6rem,
  large: 3rem,
  medium: 2rem,
  small: 0.8rem,
  tiny: 0.4rem
);

$font-size: (
  default: 16px/1.4 $font-family,
  large: 3rem/1.0 $font-family
);
