$colors: (    
  white: #F9FCFF,
  light: #EDEDED,
  grey: #A0999E,
  black: #302D2F,
  plum: #8E4585,
  green: #286944,
  red: #7A3236
);

$whitespace: (
  large: 2rem,
  medium: 1.2rem,
  small: 0.4rem
);