#portfolios {
  .row:not(:first-of-type) {
    margin-top: ws(large);
  }

  #portfolio {
    border: 1px solid color(light);
    padding: ws(medium);
    border-radius: $border-radius;
    background: color(white);

    .name {
      text-align: center;
      color: color(grey);
    }

    .value {
      font: font(large);
      text-align: center;
      margin-top: ws(small);
    }
  }
}