#portfolios {
  .row:not(:first-of-type) {
    margin-top: ws(large);
  }

  a {
    display: block;
    text-decoration: none;
  }

  #portfolio {
    .holding {
      &.advance {
        background: color(green);
      }

      &.decline {
        background: color(red);
      }
    }

    .name {
      text-align: center;
      color: color(grey);
    }

    .value {
      font: font(large);
      text-align: center;
      margin-top: ws(small);
    }
  }
}