#portfolio {
  #holdings {
    #holdings-table {
      th:not(:first-of-type),
      td:not(:first-of-type) {
        text-align: right;
      }
    }
  }
  #recent-transactions {
    h3 {
      float: left;
    }

    .new-transaction.btn {
      float: right;
    }

    .no-transactions {
      margin-top: ws(medium);
      text-align: center;
      clear: both;
    }

    table {
      th:not(:first-of-type),
      td:not(:first-of-type) {
        text-align: right;
      }

      th:nth-of-type(2),
      td:nth-of-type(2) {
        text-align: left;
        text-transform: capitalize;
      } 
    }

    .view-more {
      display: inline-block;
      text-align: center;
      margin: 0 auto;
      margin-top: ws(medium);
      clear: both;
    }
  }
}