#portfolios {
  .row:not(:first-of-type) {
    margin-top: ws(large);
  }

  a {
    display: block;
    text-decoration: none;
  }

  #portfolio {
    border: 1px solid color(light);
    padding: ws(medium);
    border-radius: $border-radius;
    background: color(white);
    box-shadow: 0 2px 5px color(light);
    .holding {
      &.advance {
        background: color(green);
      }

      &.decline {
        background: color(red);
      }
    }

    .name {
      text-align: center;
      color: color(grey);
    }

    .value {
      font: font(large);
      text-align: center;
      margin-top: ws(small);
    }
  }
}