#quote {
  .add-to-portfolio.btn {
    margin: 0 auto;
    text-align: center;
  }

  .volume {
    text-align: center;
    margin-top: ws(medium);
  }

  .graph {
    height: 400px;
    border: 1px solid color(light);
    border-radius: $border-radius;
    margin: ws(large) 0;
    padding: ws(medium);
    background: color(white);
  }

  .price,
  .ticker {
    font: font(large);
  }

  .ticker,
  .name {
    float: left;
    //clear: none;
  }

  .price,
  .change {
    float: right;
    //lear: none;
  }

  .name {
    color: color(grey);
  }

  .change {
    &.advance {
      color: color(green);
    }

    &.decline {
      color: color(red);
    }
  }

  .price {
    .arrow {
      width: 0; 
      height: 0; 
      display: inline-block;
      float: left;
      margin-top: 17px;
      margin-right: ws(small);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      &.advance {
        border-bottom: 15px solid color(green);
      }

      &.decline {
        border-top: 15px solid color(red);
      }
    }
  }
}