.modal {
  position: fixed;
  font: font(default);
  top: 50%;
  left: 50%;
  transform: scale(1.2) translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0 auto;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform-origin: 0 0;
  box-shadow: none;

  transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);

  &.visible {
    transform: scale(1) translateX(-50%) translateY(-50%);
  }

  .close {
    position: absolute;
    font: font(medium);
    top: ws(small);
    left: ws(small);
    line-height: 0.5;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  form {
    margin-top: ws(medium);

    input[type=submit] {
      display: block;
      
      margin: ws(small) auto 0 auto;
    }

    .form-error {
      margin-top: ws(small);
      color: color(red);
    }
  }
}

.overlay {
  position: fixed;
  z-index: 998;
  background: rgba(color(black), 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.visible {
  visibility: visible;
  opacity: 1;
}

#new-portfolio-modal {
  #new-portfolio-form {
    input[type=number]:nth-of-type(2) {
      margin-left: ws(tiny);
    }
  }
}

#new-trade-modal {
  #new-trade-form {
    input:not([type=submit]) {
      width: 70px;
    }

    input:nth-of-type(1) {
      margin-right: ws(tiny);
    }

    input:nth-of-type(2) {
      margin-left: ws(tiny);
    }

    select {
      display: block;
      margin: 0 auto ws(small) auto;
    }

    .total-value {
      margin-top: ws(small);
    }
  }
}