.modal {
  position: fixed;
  outline: 1px solid red;
  top: 50%;
  left: 50%;
  transform: scale(1.2) translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0 auto;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transform-origin: 0 0;

  transition: all 0.3s cubic-bezier(0.680, -0.550, 0.265, 1.550);

  &.visible {
    transform: scale(1) translateX(-50%) translateY(-50%);
  }

  .close {
    position: absolute;
    font: font(medium);
    top: ws(small);
    left: ws(small);
    line-height: 0.5;
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.overlay {
  position: fixed;
  z-index: 998;
  background: rgba(color(pearl), 0.9);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.visible {
  visibility: visible;
  opacity: 1;
}